/* 
	Efnep - Cornerstone 
	
/*
Variables listed in order
	Global
		Colors
		Fonts
		Links 
		Text
		Border Radius
	Header
	Navigation bar
	Widgets
	Content
	Footer
	Megafooter
	Buttons
*/
//Custom Variables 
$font-roboto: 	'Roboto', sans-serif;
$font-handlee:  'Handlee', cursive;

//Break Points 
$break-xsmall: 420px;
$break-small: 500px;
$break-medium: 760px;
$break-medium1:	990px;
$break-large: 1200px;


//////////////////////////////////////////////////// 
//Global Default
//Font Sizing 
$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 1.9)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.7)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.5)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px
// Primary Colors (Bootstrap)
$brand-primary:         #428bca;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
$brand-extra:			#563591;

// Secondary Colors (Bootstrap)
$gray-darker:            lighten(#000, 13.5%); // #222
$gray-dark:              lighten(#000, 20%);   // #333
$gray:                   lighten(#000, 33.5%); // #555
$gray-light:             lighten(#000, 46.7%); // #777
$gray-lighter:           lighten(#000, 93.5%); // #eee

// Text Color
$text-color:            $gray-dark !default;

//Link Colors 
$link-color:            #3d90cc;
$link-hover-color:      darken($link-color, 15%);

// Border Radius
$border-radius-base:	0;
$border-radius-large:	0;
$border-radius-small:	0;



// Header
$header_border:		#2cb04a;

$title_parent:			#879197;
$title_parentHover:		#000;

$title_txt: 			#879197;
$title_txtHover:		#000;

// Navigation bar
$navbar-margin-bottom: 0;
$navbar-collapse-max-height: none;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;


// Navbar links
$navbar-default-link-color:                lighten($brand-primary, 15%); 
$navbar-default-link-hover-color:          $brand-success; 
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         lighten(#000, 99.5%); 
$navbar-default-link-active-bg:            $brand-info;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

$dropdown-bg:                    lighten(#000, 99.5%); 
$dropdown-link-color:            lighten($brand-primary, 15%); 
$dropdown-link-hover-color:      $brand-success; 
$dropdown-link-hover-bg:       	 lighten(#000, 96.5%); 
	
$dropdown-link-active-color:     #000 ;
$dropdown-link-active-bg:        #d0d0d0 ;


// Widgets 
$widget-border-color:		#ccc					!default;
$widget-border-radius:		$border-radius-base 	!default;
$widget-border-width:		1px		 				!default;
$widget-margin:				0 0 1.5em 0				!default;
$widget-padding:			0						!default;
$widget-bg:					#fff					!default;
$widget-content-margin:		1em;
$widget-color:				#000					!default;
$widget-size:				1em						!default;
$widget-link-color:			$link-color				!default;
$widget-link-hover:			$link-hover-color		!default;


	// Widgets - Calendar
	$uc-ecw-month-bg:		$brand-primary;
	$uc-ecw-month-color:	#fff;
	$uc-ecw-day-bg:			$brand-success;
	$uc-ecw-day-color:		#fff;


// Content
$contentPadding:			31px 0 4em;

$headings-font-weight: bold;
$headings-color:#0c285b;



// Footer
$footers-border-color:	$header_border;
$footers-border-width:	1px 0 0 0;

$footers-margin: 0;
$footers-bg: #ffffff;
$footers-link-color: #5a595a;
$footers-link-hover: #343434;

// Mega Footer 
$megafooter-bg:					transparent;
$megafooter-widget-bg:			transparent;

//For each of Bootstrap's buttons, define text, background and border color.
$btn-font-weight:                normal;

$btn-default-color:              #333;
$btn-default-bg:                 #fff;
$btn-default-border:             #ccc;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             darken($btn-primary-bg, 5%);

$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             darken($btn-success-bg, 5%);

$btn-info-color:                 #fff;
$btn-info-bg:                    $brand-info;
$btn-info-border:                darken($btn-info-bg, 5%);

$btn-warning-color:              #fff;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             darken($btn-warning-bg, 5%);

$btn-danger-color:               #fff;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              darken($btn-danger-bg, 5%);

$btn-link-disabled-color:        $gray-light;


